################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/config/applicationhost.config
/nb/.ipynb_checkpoints/MxWithPandas-checkpoint.ipynb
/testdata/M-1-0-1.ZIP
/build/lib/PT3S
/dist
/nb/.ipynb_checkpoints
/PT3S.egg-info
/testresults
/nb/1. Dates & Times.ipynb
/nb/TimeSeriesAnalysisWithPython.pdf
/nb/2. Time Zone Handling.ipynb
/nb/3. Reading in data and making sensible data frames.ipynb
/nb/4. Resampling.ipynb
/nb/5. Moving Window Functions.ipynb
/nb/6. Trend & Seasonality.ipynb
/nb/7. Forecasting.ipynb
/nb/8. Spectral Analysis.ipynb
/nb/9. Clustering & Classification.ipynb
/nb/README.md
/nb2
/nb/Test.ipynb
/nb/20170627_0000001.log
/nb/Untitled.ipynb
/testdata/M-1-0-1.txt
/testdata/M-1-0-1.h5
/__pycache__/Mx.cpython-35.pyc
/.pypirc
/nb/debug.log
/nb3/.ipynb_checkpoints
/nb3
/nb/nbctest.ipynb
/testdata/WDOneLPipe/B1/V0/BZ1
/__pycache__
/nb/20171103__000001.log
/nb/20171103__000001.xlsx
/nb/20171103__000001_TABL.xlsx
/nb/20171103__000001_TABL.csv
/nb/x.pdf
*.png
/nb/LxWithPandas.ipynb
/nb/MxWithPandas.ipynb
/nb/XmWithPandas.ipynb
/nb/PT3S.log
*.pdf
/.ipynb_checkpoints/PNR 17.265 MVV FW (n-1) Berechnungen-checkpoint.ipynb
/PNR 17.265 MVV FW (n-1) Berechnungen.ipynb
/PT3S.log
/test.py
/PNR 17.265 MVV FW (n-1) Berechnungen - Kopie.ipynb
/PT3S_files
/testdata/WDLocalHeatingNetwork/Maps
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.log
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.XML
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.MX3
/PT3S.log.1Lauf
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.vec.h5
/.~PT3S.ipynb
/_build
/make.bat
/Makefile
/testdata/TW-Netz.mdb
*.log
/testdata/WDTinyWDN/B1/V0/BZ1/M-1-0-1.vec.h5
/UpgradeLog.htm
/testdata09
/testdata/OneLPipe.mdb
/testdata/OneLPipe_Backup_Ver9009_20180902_094242.mdb
/Migration.mdb
/PT3S.log.10
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.1.MX1
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.1.MX3
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.1.MXS
/testdata/WDTinyWDN/B1/V0/BZ1/M-1-0-1.1.MX1
/testdata/WDTinyWDN/B1/V0/BZ1/M-1-0-1.1.MX3
/testdata/WDTinyWDN/B1/V0/BZ1/M-1-0-1.1.MXS
/testdata/LocalHeatingNetwork.mdb
/testdata/TinyWDN.mdb
/MVV.ipynb
/.ipynb_checkpoints/MVV-checkpoint.ipynb
/Expected.txt
/Got.txt
/testdata/WDTinyWDN/GPipe.mdb
/testdata10/WDLocalHeatingNetwork/Maps
/testdata10/WDTinyWDN/GPipe.mdb
/testdata/GPipe_Backup_Ver9010_20181104_115939.mdb
/testdata/LocalHeatingNetwork_Backup_Ver9010_20181104_120225.mdb
/testdata/OneLPipe_Backup_Ver9010_20181104_120534.mdb
/testdata/TinyWDN_Backup_Ver9010_20181104_120750.mdb
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.1.vec.h5
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.h5.metadata
/testdata/WDLocalHeatingNetwork/B1/V0/BZ1/M-1-0-1.h5
*.h5
/testdata/Sir3S.Backup
/Untitled.ipynb
/.ipynb_checkpoints
/Dummy.ipynb
/Rohre.xlsx
/notebook.tex
/testdata/WDDHNetwork/B1/V0/BZ1/M-1-0-1.1.MXS
*.metadata
/pltNetPipes
/BAYERNOIL.ipynb
/BAYERNOIL.log.NoH5
/output.xlsx
/output2.xlsx
/output3.xlsx
/out.xlsx
/~$out.xlsx
/NDD_MWW.py
/NDD_MVV.py
