################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/config/applicationhost.config
/nb/.ipynb_checkpoints/MxWithPandas-checkpoint.ipynb
/testdata/M-1-0-1.MX1
/testdata/M-1-0-1.MX2
/testdata/M-1-0-1.MX3
/testdata/M-1-0-1.XML
/testdata/M-1-0-1.ZIP
/build/lib/PT3S
/dist
/nb/.ipynb_checkpoints
/PT3S.egg-info
/testresults
/nb/1. Dates & Times.ipynb
/nb/TimeSeriesAnalysisWithPython.pdf
/nb/2. Time Zone Handling.ipynb
/nb/3. Reading in data and making sensible data frames.ipynb
/nb/4. Resampling.ipynb
/nb/5. Moving Window Functions.ipynb
/nb/6. Trend & Seasonality.ipynb
/nb/7. Forecasting.ipynb
/nb/8. Spectral Analysis.ipynb
/nb/9. Clustering & Classification.ipynb
/nb/README.md
/nb2
/nb/Test.ipynb
/nb/20170627_0000001.log
/nb/Untitled.ipynb
/testdata/M-1-0-1.txt
/testdata/M-1-0-1.h5
/__pycache__/Mx.cpython-35.pyc
/.pypirc
/nb/debug.log
/nb3/.ipynb_checkpoints
/nb3
/nb/nbctest.ipynb
/testdata/WDOneLPipe/B1/V0/BZ1
/__pycache__
/testdata
/nb/20171103__000001.log
/nb/20171103__000001.xlsx
/nb/20171103__000001_TABL.xlsx
/nb/20171103__000001_TABL.csv
